# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# Playwright
.playwright/

# Build and Distribution
dist/
build/
*.spec
*.exe

# Data and Results
data/
pictures/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/
